:root {
    --primary-color: #1F2041;
    --secondary-color: #FFC857;
    --teritary-color: #4B3F72;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.container {
    margin-top: 50px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}
.output {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}